<div class="container">
  <div class="row">
     <div class="col-md-6">
       <h1>FORM DATA MAHASISWA</h1>
       <hr>
        <label>NIM</label>
        <input type="text" class="form-control" [(ngModel)]="nim">
        <label>NAMA</label>
        <input type="text" class="form-control" [(ngModel)]="nama">
        <label>KELAS</label>
        <input type="text" class="form-control" [(ngModel)]="kelas">
        <br>
        <button class="btn btn-block btn-success"
          (click)="tambahMhs()">Tambah</button>
      </div>
      <div class="col-md-6">
        <h1>DATA MAHASISWA</h1>
        <hr>
        <div *ngFor="let mhs of daftarMhs">
          <div class="card">
            <h5 class="card-header">{{ mhs.nim }}</h5>
            <div class="card-body">
            <h5>{{ mhs.nama }}</h5>
            <p class="card-text">{{ mhs.kelas }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
